
@import url(https://fonts.googleapis.com/css?family=Bungee+Shade);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/*-- general settings --*/
p{
    font-size: 2em;
    font-family: "Press Start 2P";
}

body {
    background: rgb(39, 38, 38);
}

#schermataIniziale{
    justify-content:center;
}

h1{
    font-size: 4em;
    padding-top: 10px;
    padding: 5px;
    color: white;
    font-family: "Press Start 2P";
    text-align: center;
}

h2{
    color: blanchedalmond;
    font-size: 1.4em;
    font-family: "Press Start 2P";
}

h4{
  color: rgb(60, 151, 51);
  font-size: 1em;
  font-family: "Press Start 2P";
}

#modeMenu{
  display:flex;
}

#levelMenu{
  display:flex;
}
/*
#choices {
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
}

.avatarChoice {
    width: auto;
    margin-left: 100px;
}

.modeChoice {
    width: auto;
    margin-right: 100px;
    margin-left: 400px;
}
*/
#avatarMenu{
    display:flex;
    width: 100vh;
}

.png{
    width: 300px;
    height: 250px;
    margin-left: 50px;
    background-color:  rgb(53, 121, 146);
    border-radius:50px;
}

#mozart{
    animation-name: mozart;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes mozart {
    0% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_1.png");
    }
    7.14% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_2.png");
    }
    14.29% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_3.png");
    }
    21.43% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_4.png");
    }
    28.57% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_5.png");
    }
    35.71% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_6.png");
    }
    42.86% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_7.png");
    }
    50% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_8.png");
    }
    57.14% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_9.png");
    }
    64.29% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_10.png");
    }
    71.43% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_11.png");
    }
    78.57% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_12.png");
    }
    85.71% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_13.png");
    }
    92.86% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_14.png");
    }
    100% {
      content: url("/plot/mozart-frontale-sx/mozart_frontalesx_15.png");
    }
  }
  
  .player_box_mozart {
    transform: scale(1);
  }
  
  .player_box_mozart:hover {
    transform: scale(1.3);
  }

  #mozart:active, #mozart:focus {
    border:  5px solid rgb(132, 222, 13);
  }

#beethoven{
    animation-name: beethoven;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes beethoven {
    0% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_1.png");
    }
    5.88% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_2.png");
    }
    11.76% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_3.png");
    }
    17.65% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_4.png");
    }
    23.53% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_5.png");
    }
    29.41% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_6.png");
    }
    35.29% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_7.png");
    }
    41.18% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_8.png");
    }
    47.06% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_9.png");
    }
    52.94% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_10.png");
    }
    58.82% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_11.png");
    }
    64.71% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_12.png");
      }
    70.59% {
      content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_13.png");
      }
    76.47% {
        content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_14.png");
      }
    82.35% {
        content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_15.png");
      }
    88.24% {
        content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_16.png");
      }
    100% {
        content: url("/plot/beethoven-frontale-dx/beethoven_front_dx_17.png");
      }
}

 .player_box_beethoven {
    transform: scale(1);
  }
  
  .player_box_beethoven:hover {
    transform: scale(1.3);
  }

  #beethoven:active, #beethoven:focus {
    border:  5px solid rgb(132, 222, 13);
  }


  #bach {
    animation-name: bach;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  
  @keyframes bach {
    0% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_1.png");
    }
    6.25% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_2.png");
    }
    12.5% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_3.png");
    }
    18.75% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_4.png");
    }
    25% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_5.png");
    }
    31.25% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_6.png");
    }
    37.5% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_7.png");
    }
    43.75% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_8.png");
    }
    50% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_9.png");
    }
    56.25% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_10.png");
    }
    62.5% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_11.png");
    }
    68.75% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_12.png");
    }
    75% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_13.png");
    }
    81.25% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_14.png");
    }
    87.5% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_15.png");
    }
    100% {
      content: url("/img/Bach/bach-front-dx/bach_front_dx_16.png");
    }
  }

  .player_box_bach {
    transform: scale(1);
  }
  
  .player_box_bach:hover {
    transform: scale(1.3);
  }

  #bach:active, #bach:focus {
    border:  5px solid rgb(132, 222, 13);
  }

.name{
    float: inherit;
    color: white;
    font-size: 1.3em;
    padding-left: 47px;
    text-align: center;
}

#readMode{
    width: 300px;
    height: 250px;
    background-color:  rgb(196, 97, 36);
    margin-left: 150px;
    border-radius:50px;
}

#readMode {
    transform: scale(1);
  }
  
  #readMode:hover {
    transform: scale(1.3);
  }

  #readMode:active, #readMode:focus {
    border:  5px solid rgb(132, 222, 13);
  }

#listenMode{
    width: 300px;
    height: 250px;
    background-color: rgb(196, 97, 36);
    margin-left: 50px;
    border-radius:50px;
}

#listenMode {
    transform: scale(1);
  }
  
  #listenMode:hover {
    transform: scale(1.3);
  }

  #listenMode:active, #listenMode:focus {
    border:  5px solid rgb(132, 222, 13);
  }


.earString{
    font-family: "Press Start 2P";
    text-align: center;
    font-size: 1.9em;
}

.description{
    font-family: "Press Start 2P";
    text-align: center;
    color: blanchedalmond;
    font-size: 0.9em;
    line-height: 2.3em;
}

#playButton{
    width: 300px;
    height: 100px;
    margin-left: 630px;
    margin-top: 50px;
    font-size: 2em;
    font-family: "Press Start 2P";
    color: white;
    background-color: rgb(7, 25, 124);
    border-radius:50px;
    
}
#schermataGioco{
    display: none;
}


