@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body{
    background-color: rgb(2, 17, 29);
    font-family: "Press Start 2P";
    margin-left: 10%;
    margin-right: 10%;
    user-select: none;
}

h1{
    text-align: center;
    color: rgb(220,53,69);
    margin-top: 2%;
}

h3{
  color: rgb(120, 157, 191);
  font-size: 1.2rem;
  margin-bottom: 1%;
  margin-top: 1%;
}

h4{
  text-align: center;
}

.col-4 {
  width: 27%;
  height: 27%;
  vertical-align: top;
  overflow: hidden;
  border-radius: 20px;
} 


#mozart{
    animation-name: mozart;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#mozart:hover {
  transform: scale(1.1);
}

@keyframes mozart {
    0% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_1.png");
    }
    7.14% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_2.png");
    }
    14.29% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_3.png");
    }
    21.43% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_4.png");
    }
    28.57% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_5.png");
    }
    35.71% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_6.png");
    }
    42.86% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_7.png");
    }
    50% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_8.png");
    }
    57.14% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_9.png");
    }
    64.29% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_10.png");
    }
    71.43% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_11.png");
    }
    78.57% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_12.png");
    }
    85.71% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_13.png");
    }
    92.86% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_14.png");
    }
    100% {
      content: url("./img/Mozart/mozart-frontale-sx/mozart_frontalesx_15.png");
    }
  }

  #beethoven{
    animation-name: beethoven;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#beethoven:hover {
  transform: scale(1.1);
}

  @keyframes beethoven {
    0% {
      content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_1.png");
    }
    5.88% {
      content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_2.png");
    }
    11.76% {
      content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_3.png");
    }
    17.65% {
      content: url("/img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_4.png");
    }
    23.53% {
      content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_5.png");
    }
    29.41% {
      content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_6.png");
    }
    35.29% {
      content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_7.png");
    }
    41.18% {
      content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_8.png");
    }
    47.06% {
      content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_9.png");
    }
    52.94% {
      content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_10.png");
    }
    58.82% {
      content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_11.png");
    }
    64.71% {
      content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_12.png");
      }
    70.59% {
      content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_13.png");
      }
    76.47% {
        content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_14.png");
      }
    82.35% {
        content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_15.png");
      }
    88.24% {
        content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_16.png");
      }
    100% {
        content: url("./img/Beethoven/beethoven-frontale-sx/beethoven_front_sx_17.png");
      }
}

#bach {
  animation-name: bach;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#bach:hover {
  transform: scale(1.1);
}

@keyframes bach {
  0% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_1.png");
  }
  6.25% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_2.png");
  }
  12.5% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_3.png");
  }
  18.75% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_4.png");
  }
  25% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_5.png");
  }
  31.25% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_6.png");
  }
  37.5% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_7.png");
  }
  43.75% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_8.png");
  }
  50% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_9.png");
  }
  56.25% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_10.png");
  }
  62.5% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_11.png");
  }
  68.75% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_12.png");
  }
  75% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_13.png");
  }
  81.25% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_14.png");
  }
  87.5% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_15.png");
  }
  100% {
    content: url("./img/Bach/bach-front-sx/bach_front_sx_16.png");
  }
}

.col{
  margin-left: 2%;
}

.col:hover {
  transform: scale(1.1);
  cursor: pointer;
}

p{
  text-align: center;
}

#schermataGioco {
  display: none;
}

#dialog {
  display: none;
}

.level {
  cursor: pointer;
}

.stringWin{
  color: black;
}