@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
canvas {
    position: absolute;
    top : 0;
    left: 0;
}

#c1 {
    opacity: 0;
}
  
#c2 {
    background: rgb(0, 0, 0);
}

#avatarScelto{
    position: absolute;
    width: 40%;
    height: 40%;
    margin-top: 15%;
    margin-bottom: 20%;
    margin-left: 50%;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}

#mode{
    margin-top: 5%;
}

.stringheLaterali{
    margin-top: 2%;
    text-align: right;
    font-size: 1.3em;
    color: blanchedalmond;
}

.starLifes{
    width: 2%;
    width: 2%;
}

#dialog{
    display: none;
    background-image: url('/img/assets/blue-sky.png');
}

#winner-dialog{
    display: none;
    background-color: black;
}

.stringGameOver{
    color: rgb(19, 89, 230);
    font-family: "Press Start 2P";
    text-align: center;
}

