canvas {
    position: absolute;
    top : 0;
    left: 0;
}

#c1 {
    opacity: 0;
}
  
#c2 {
    background: rgb(0, 0, 0);
}

#avatarScelto{
    position: absolute;
    top: 90px;
    right: 50px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#livelloScelto{
    font-family: "Press Start 2P";
    float: inherit;
    color: white;
    font-size: 1.3em;
    padding-left: 47px;
    text-align: center;
}

#vite{
    font-family: "Press Start 2P";
    text-align: right;
    color: blanchedalmond;
    line-height: 5em;
    font-size: 1.3em;
    padding-left: 47px;
}

#dialog{
    display: none;
    background-color: rgb(80, 74, 74);
}


#mode {
    font-family: "Press Start 2P";
    color: blanchedalmond;
    font-size: 1.3em;
    position: absolute;
    top: 50px;
    right: 250px;
}
#level {
    font-family: "Press Start 2P";
    color: blanchedalmond;
    font-size: 1.3em;
    position: absolute;
    top: 100px;
    right: 250px;
}
#livesleft {
    font-family: "Press Start 2P";
    color: blanchedalmond;
    font-size: 1.3em;
    position: absolute;
    top: 150px;
    right: 250px;
}
#score {
    font-family: "Press Start 2P";
    color: blanchedalmond;
    font-size: 1.3em;
    position: absolute;
    top: 200px;
    right: 250px;
}



